<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>安全管理综合信息系统</title>
	#include_css(["bootstrap","jqgrid","jqueryui","main","ztree","main"])
	#include_html5()
</head>
<body>
	<div class="container-fluid pcheck margin10">
    	<div class="row">
    		<div class="col-sm-12">
    			<form>
    				<div class="row">
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<input class="form-control formWidth" type="text" name="username" id="username" placeholder="账户">
    					</div>
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<input class="form-control formWidth" type="text" name="nickname" id="nickname" placeholder="用户名">
    					</div>
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<button type="button"  class="search" id="searchbtn" style="width:100%;height:28px;">查询</button>
    					</div>
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<button type="reset"  class="search" id="resetbtn" style="width:100%;height:28px;"><span>重置</span></button>
    					</div>
    				</div>
    			</form>
    		</div>
    	</div>
    </div>
	
	<div id="btnli" class="dropdown smallShow" style="margin-left: 10px;">
		#mobileDisplayOper($privcode)##手机兼容操作按钮
	</div>
	
	<div class="table-line" >
        <div class="showBtn">#displayOper($privcode)</div>
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
	</div>
	
	#*
	<div class="pcheck borderBtm margin10 sbox">
		<form class="form-inline  pd6">
			<div class="form-left">
        		<div class="col-in">
    				<div class="lbl" >账户</div>
    				<input class="form-control formWidth" type="text" name="username" id="username"> 
        		</div>
        		<div class="col-in">
    				<div class="lbl" >用户名</div>
    				<input class="form-control formWidth" type="text" name="nickname" id="nickname"> 
        		</div>
        	    <div class="col-in">
        			<button type="button"  class="search" id="searchbtn">查询</button>
        			<button type="reset"  class="search" id="resetbtn"><span>重置</span></button>		    	
        	    </div>
            </div>
        </form>
	</div>
	<div class="table-line">
		#displayOper($privcode)
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
	</div>
	*#
  
#include_js(["jquery","bootstrap","jqgrid","shrink","jqueryui","dateutil","select_option","ztree"])
<script src="${rc.contextPath}/js/module/system/sysuser/sysuserList.js"></script>

</body>
</html>
