<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册服务使用协议</title>
	#include_css(["bootstrap"])
	#include_html5()
</head>
<style>
		h3 {
			text-align: center;
			color: #fff;
			font-size: 26px;
			line-height: 65px;
		}
		.entr {
			padding: 6px;
			height: 620px;
			overflow: auto;
			background-color: #fff;
			width: 920px;
			margin: 0 auto;
		}
		.agree {
			text-align: center;
		}
		input#btn_ok[disabled] {
			color: #949494;
			margin-top:15px;
			width: 100px;
			height: 30px;
		}
		input#btn_ok {
			color: #333333;
			margin-top:15px;
			width: 100px;
			height: 30px;
		}
	</style>
</head>
<body style="background-color: #1b79c1;">
	<h3>企业用户注册服务使用协议</h3>
	<div class="entr">
		<p>1. 特别提示</p>
		<p>1.1按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称“网络服务”），为获得网络服务，服务使用人（以下称“用户”）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击“同意”按钮即表示用户完全接受本协议项下的全部条款。</p>
		<p>2. 服务内容</p>
		<p>2.1具体内容由五通桥区安全生产监督管理局根据实际情况提供，保留随时变更、中断或终止部分或全部网络服务的权利。</p>
		<p>2.2 五通桥区安全生产监督综合管理信息平台提供企业基础信息网上填报审批服务，除此之外与客户端相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担。</p>
		<p>3. 使用规则</p>
		<p>3.1 用户在申请使用五通桥区安全生产监督综合管理信息平台服务，必须向系统提供准确的单位资料，如与许可要求资料有任何变动，必须及时变更、换证申请。</p>
		<p>3.2 只有新单位才必须新用户注册，用户注册成功后，系统将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
		<p>3.3 用户在使用五通桥区安全生产监督综合管理信息平台服务过程中，必须遵循以下原则：</p>
		<p>(a) 遵守中国有关的法律和法规；</p>
		<p>(b) 不得为任何非法目的而使用网络服务系统；</p>
		<p>(c) 遵守所有与网络服务有关的网络协议、规定和程序；</p>
		<p>(d) 不得利用本系统进行任何可能对互联网的正常运转造成不利影响的行为；</p>
		<p>(e) 不得利用本系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
		<p>(f) 不得利用本系统进行任何不利于五通桥区安全生产监督综合管理信息平台的行为；</p>
		<p>(g) 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告五通桥区安全生产监督管理局。</p>
		<p>4. 内容所有权</p>
		<p>4.1 五通桥区安全生产监督综合管理信息平台提供的网络服务内容包括：文字、软件、图片、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。</p>
		<p>4.2 用户只有在获得五通桥区安全生产监督管理局或四川智联正邦信息技术有限公司的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。</p>
		<p>5. 隐私保护</p>
		<p>5.1 保护用户隐私是五通桥区安全生产监督综合管理信息平台的一项基本要求，五通桥区安全生产监督综合管理信息平台保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在五通桥区安全生产监督综合管理信息平台的非公开内容，但下列情况除外：</p>
		<p>(a) 事先获得用户的明确授权；</p>
		<p>(b) 根据有关的法律法规（如：行政许可法中要求对社会公开的资料要求）要求；</p>
		<p>(c) 按照相关政府主管部门的要求；</p>
		<p>(d) 为维护社会公众的利益；</p>
		<p>(e) 为维护五通桥区安全生产监督综合管理信息平台的合法权益。</p>
		<p>5.2 在不透露单个用户隐私资料的前提下，五通桥区安全生产监督综合管理信息平台有权对整个用户数据库进行统计分析。</p>
		<p>6. 免责声明</p>
		<p>6.1 若五通桥区安全生产监督综合管理信息平台已经明示其网络服务提供方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担。</p>
		<p>6.2 用户明确同意其使用五通桥区安全生产监督综合管理信息平台服务所存在的风险将完全由其自己承担；因其使用五通桥区安全生产监督综合管理信息平台服务而产生的一切后果也由其自己承担，五通桥区安全生产监督综合管理信息平台对用户不承担任何责任。</p>
		<p>7. 服务变更、中断或终止</p>
		<p>7.1 如因系统维护或升级的需要而需暂停网络服务，五通桥区安全生产监督综合管理信息平台将尽可能事先进行通告。</p>
		<p>7.2 如发生下列任何一种情形，五通桥区安全生产监督综合管理信息平台有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户：</p>
		<p>(a) 用户提供的个人资料不真实；</p>
		<p>(b) 用户违反本协议中规定的使用规则。</p>
		<p>7.3 除前款所述情形外，五通桥区安全生产监督综合管理信息平台同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，五通桥区安全生产监督综合管理信息平台无需对用户或任何第三方承担任何责任。</p>
		<p>8. 违约赔偿</p>
		<p>8.1 用户同意保障和维护五通桥区安全生产监督综合管理信息平台及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给五通桥区安全生产监督综合管理信息平台或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>
		<p>9. 修改协议</p>
		<p>9.1 五通桥区安全生产监督综合管理信息平台将可能不时的修改本协议的有关条款，一旦条款内容发生变动，五通桥区安全生产监督综合管理信息平台将会在相关的页面提示修改内容。</p>
		<p>9.2 如果不同意五通桥区安全生产监督综合管理信息平台对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。</p>
		<p>10. 法律管辖</p>
		<p>10.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>
		<p>10.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决。</p>
		<p>11. 通知和送达</p>
		<p>11.1 本协议项下所有的通知均可通过重要页面公告。</p>
		<p>12. 其他规定</p>
		<p>12.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
		<p>12.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
		<p>12.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。</p>
		<p style="text-align: center;"><input type="checkbox" id="ok"/>同意条款中的协议</p>
		
	</div>
	<p class="agree"><input type="button" id="btn_ok" value="同　意" disabled=true/></p>
	#include_js(["jquery","bootstrap","dialog"])
	<script type="text/javascript">
		$(function() {
			$("#ok").click(function(){
				if($(this).is(':checked')){
					$("#btn_ok").removeAttr("disabled");
				}else{
					$("#btn_ok").attr("disabled","true");
				}
			});
			$("#btn_ok").click(function(){
				window.location.href="${rc.contextPath}/login/register";
			});
		});
    </script>
</body>
</html>