body {
    font-family:"Microsoft YaHei";
}

.rwTitleTools{
    height:45px;
    position:absolute;
    right:0px;
    top:0px;
}

.rwTCpart{
    width:46px;
    height:45px;
    float:left;
    cursor:pointer;
    position:relative;
}

.rwTCpart:hover{
    background-color:rgba(255,255,255,0.2);
}

.rwTCpartA {
    width: 183px;
    height: 201px;
    background-color: #58667d;
    position: absolute;
    top: 62px;
    right:2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #eeeeee;
    z-index: 999;
    display:none;
}

.rwTCpartB {
    width: 270px;
    height: 195px;
    background-color: #58667d;
    position: absolute;
    top: 62px;
    right:2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #eeeeee;
    z-index: 999;
    display:none;
}

.rwTCpartC {
    width: 183px;
    height: 252px;
    background-color: white;
    position: absolute;
    top: 62px;
    right:2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #eeeeee;
    z-index: 999;
    display:none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rwTCpartD {
    width: 183px;
    height: 81px;
    background-color: #50833B;
    position: absolute;
    top: 62px;
    right:2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #eeeeee;
    z-index: 999;
    display:none;
}

.rwTCpartcontant {
    width: 96%;
    margin-left: 2%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border-bottom:1px solid #808080; */  
    cursor:pointer;  
    position:relative;
}

.rwTCpartcontantA {
    width: 96%;
    margin-left: 2%;
    height: 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #808080;  
    cursor:pointer;  
    position:relative;
}

.rwTCpartcontant:hover{
    background-color:rgba(255,255,255,0.2);
}

.rwTCIcon{
    width:40px;
    height:40px;
    background-repeat:no-repeat;
    float:left;
    /*background-color:#fff;*/  
}

.rwTCInfo{
    width:100px;
    height:40px;
    font-size:16px;
    line-height:40px;
    color:#fff;
    margin-left:10px;
    float:left;
}

.NewPush{
    width:45px;
    height:3px;
    /*border-radius:4px;*/
    background-color:#56bfff;
}

.pushPointcontent{
    width:20px;
    height:40px;
    float:right;
}

.pushPoint{
    width:16px;
    height:16px;
    border-radius:10px;
    position:absolute;
    top:12px;
    right:3px;
    background-color:#56bfff;
    color:#fff;
    text-align:center;
    font-size:12px;
}

.rwTCpartAarow{
    width:12px;
    height:12px;
    background-image:url("images/arrow1.png");
    position:absolute;
    top:-12px;
    left:109px;
}

.rwTCpartIarow{
    width:12px;
    height:12px;
    background-image:url("images/arrow1.png");
    position:absolute;
    top:-12px;
    right:105px;
}

.rwTCpartNarow{
    width:12px;
    height:12px;
    background-image:url("images/arrow1.png");
    position:absolute;
    top:-12px;
    left:17px;
}

.rwTCpartLarow{
    width:12px;
    height:12px;
    background-image:url("images/arrow1.png");
    position:absolute;
    top:-12px;
    left:155px;
}

.rwHomeBtn {
    width: 46px;
    height: 45px;
    position: absolute;
    left: 50px;
    background-image:url("images/home1.png");
    cursor:pointer;
    /*background-color:#fff;*/
}

.rwHomeBtn:hover{
    background-color:rgba(255,255,255,0.2);
}

.infoPno{
    width:160px;
    height:30px;
    float:left;
    color:#fff;
    text-align:left;
    font-size:14px;
    line-height:30px;
    margin-left:5px;
    /*text-decoration:underline;*/
}

.infoPno:hover{
     text-decoration:underline;
}

.infoPvalue{
    width:80px;
    height:30px;
    float:right;
    color:#fff;
    text-align:right;
    font-size:14px;
    line-height:30px;
    margin-right:5px;
}

.infoProgressBar{
    width:100%;
    height:16px;
    border-radius:4px;
    background-color:#bbbcbe;
    float:left;
}

.infoPBbar{
    height:16px;
    border-radius:4px;
}

.infoProAll{
    width:100%;
    height:30px;
    line-height:30px;
    font-size:14px;
    color:#fff;
    text-align:center;
    cursor:pointer;
}

.infoProAll:hover{
     text-decoration:underline;
}