* {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
    /*color: #FFFFFF;*/
    /*box-sizing:inherit;*/
}

html, body {
    width: 100%;
    height: 100%;
}

/*ul {
    list-style: none;
}*/

/*select, option {
    color: #000000;
}*/

/*input {
    color: #000000;
    text-align: center;
}*/

.d1RootDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #ececec;
    -moz-transform: translateX(-450px);
    -ms-transform: translateX(-450px);
    -o-transform: translateX(-450px);
    -webkit-transform: translateX(-450px);
    transform: translateX(-450px);
    transition: all 0.8s;
    -moz-transition: all 0.8s; /* Firefox 4 */
    -webkit-transition: all 0.8s; /* Safari and Chrome */
    -o-transition: all 0.8s; /* Opera */
    color: #FFFFFF;
}

    .d1RootDiv div {
        box-sizing: content-box;
    }

.d1TopDiv {
    height: 46px;
    background-color: #354052;
}

.d1TopBackDiv {
    height: 46px;
    width: 15%;
    float: left;
    line-height: 46px;
    cursor: pointer;
}

    .d1TopBackDiv img {
        margin-left: 26%;
        margin-top: 10px;
    }

.d1TopTitleDiv {
    width: 70%;
    height: 46px;
    float: left;
    text-align: center;
    line-height: 46px;
}

.d1MOneDiv {
    margin-top: 1px;
    height: 117px;
    background-color: #354052;
}

.d1MOneItemDiv {
    width: 25%;
    float: left;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.d1CircleDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 53px;
    height: 53px;
    border-radius: 36px;
    background-image: url(images/backimg.png);
    background-size: 60px auto;
}

.s1 {
    background-position: -4px -3px;
}

.s2 {
    background-position: -4px -66px;
}

.s3 {
    background-position: -4px -128px;
}

.s4 {
    background-position: -4px -688px;
}

.d1MOneItemTitleDiv {
    margin-top: 10px;
}

.d1MTwoDiv {
    height: 190px;
    background-color: #354052;
    position: relative;
    top: 1px;
    left: 0px;
}

    .d1MTwoDiv ul {
        list-style: none;
    }

    .d1MTwoDiv li {
        width: 20%;
        float: left;
        height: 56px;
        line-height: 56px;
        text-align: center;
        border-bottom: 1px solid #808080;
        cursor: pointer;
    }

.Traffic .title {
    color: #a2c159;
}

.fun .title {
    color: #ea8887;
}

.life .title {
    color: #a3a9c7;
}

.separate {
    color: #EFF2F6;
    float: right;
    font-style: normal;
    margin-right: 10px;
}

.d1Select {
    height: 30px;
    border-radius: 5px;
    float: left;
}

.sInput {
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.ifrDiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}




.d1listDiv ul {
    list-style: none;
}

    .d1listDiv ul li img {
        float: left;
        margin-top: 8px;
        margin-right: 10px;
    }

    .d1listDiv ul li {
        height: 50px;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
    }

        .d1listDiv ul li:hover {
            background-color: #666666;
        }

.d1infoDiv {
    float: right;
    height: 50px;
    line-height: 50px;
}

.d1address {
    color: #999999;
}

.d1BottomDiv select {
    color: #000000;
}

.d1BottomDiv option {
    color: #000000;
}

.d1BottomDiv input {
    color: #000000;
    text-align: center;
}
/*手机端*/
@media screen and (max-width:414px) {
    .d1Hotel {
        position: absolute;
        top: 154px;
        bottom: 0;
        left: 0px;
        width: 100%;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1Food {
        position: absolute;
        top: 154px;
        bottom: 0;
        left: -450px;
        width: 100%;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1listDiv {
        position: absolute;
        top: 165px;
        bottom: 0px;
        width: 100%;
        left: -450px;
        background-color: #354052;
        overflow-y: auto;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1BottomDiv {
        width: 100%;
        background-color: #354052;
        margin-top: 1px;
        position: fixed;
        bottom: 0;
        top: 344px;
        overflow-y: auto;
    }

    .d1t1 {
        padding-bottom: 15px;
        height: 30px;
        padding-left: 10px;
    }

    .d1BTitleDiv {
        float: left;
        height: 30px;
        line-height: 30px;
        width: 80px;
        text-align: right;
    }

    .wid130 {
        width: 68%;
    }

    .wid300 {
        width: 68%;
    }

    .btnDiv {
        float: left;
        height: 60px;
        margin-left: 25%;
    }

    .d1ButtonDiv {
        padding: 8px 20px;
        float: right;
        background-color: #5bc0de;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        margin-right: 15px;
        /*margin-bottom: 15px;*/
    }
}
/*pc端*/
@media screen and (min-width:415px) {
    .d1Hotel {
        position: absolute;
        top: 154px;
        bottom: 0;
        left: 0px;
        width: 450px;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1Food {
        position: absolute;
        top: 154px;
        bottom: 0;
        left: -450px;
        width: 450px;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1listDiv {
        position: absolute;
        top: 165px;
        bottom: 0px;
        width: 450px;
        left: -450px;
        background-color: #354052;
        overflow-y: auto;
        transition: left 0.3s;
        -moz-transition: left 0.3s; /* Firefox 4 */
        -webkit-transition: left 0.3s; /* Safari and Chrome */
        -o-transition: left 0.3s; /* Opera */
    }

    .d1BottomDiv {
        width: 420px;
        background-color: #354052;
        margin-top: 1px;
        padding: 10px 15px;
        position: fixed;
        bottom: 0;
        top: 344px;
        overflow-y: auto;
    }

    .d1t1 {
        padding-bottom: 15px;
        height: 30px;
        float: left;
    }

    .d1BTitleDiv {
        float: left;
        height: 30px;
        line-height: 30px;
        width: 80px;
        text-align: right;
    }


    .wid130 {
        width: 130px;
    }

    .wid300 {
        width: 300px;
    }

    .btnDiv {
        float: left;
        height: 60px;
        margin-left: 30%;
    }

    .d1ButtonDiv {
        padding: 8px 20px;
        float: right;
        background-color: #5bc0de;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        margin-right: 15px;
    }
}
