.ldBody {
    background-color: #f3f8fb;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Microsoft YaHei";
}

.ldSVG {
    fill: #145f8e;
    fill-rule: evenodd;
}

.ldMainbody {
    width: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*position:relative;*/
    /*top:0px;
    bottom:0px;
    left:0px;
    right:0px;*/
}

.ldMiddleBox {
    position: absolute;
    width: 650px;
    height: 380px;
    left: auto;
    right: auto;
    top: 50%;
    margin-top: -190px;
}

.ldLogo {
    text-align: center;
}

.ldOrg {
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    color: #145f8e;
}

.ldCompany {
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.ldUrl {
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    height: 96px;
    color: #000;
    word-break: break-all;
}

@media screen and (max-width: 768px) {
    .ldMainbody{
        width:100%;
    }
    .ldMiddleBox {
        position: absolute;
        width: 100%;
        height: 340px;
        top: 50%;
        margin-top: -190px;
    }

    .ldUrl {
        line-height: 24px;
        font-size: 14px;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        height: 96px;
        color: #000;
        word-break: break-all;
    }
}

.A1 {
    animation: A1move 3s infinite;
    -webkit-animation: A1move 3s infinite; /*Safari and Chrome*/
}

.A2 {
    animation: A2move 3s infinite;
    -webkit-animation: A2move 3s infinite; /*Safari and Chrome*/
}

.A3 {
    animation: A3move 3s infinite;
    -webkit-animation: A3move 3s infinite; /*Safari and Chrome*/
}

.A4 {
    animation: A4move 3s infinite;
    -webkit-animation: A4move 3s infinite; /*Safari and Chrome*/
}

.A5 {
    animation: A5move 3s infinite;
    -webkit-animation: A5move 3s infinite; /*Safari and Chrome*/
}

.A6 {
    animation: A6move 3s infinite;
    -webkit-animation: A6move 3s infinite; /*Safari and Chrome*/
}

.A7 {
    animation: A7move 3s infinite;
    -webkit-animation: A7move 3s infinite; /*Safari and Chrome*/
}

.A8 {
    animation: A8move 3s infinite;
    -webkit-animation: A8move 3s infinite; /*Safari and Chrome*/
}

.A9 {
    animation: A9move 3s infinite;
    -webkit-animation: A9move 3s infinite; /*Safari and Chrome*/
}

.A10 {
    animation: A10move 3s infinite;
    -webkit-animation: A10move 3s infinite; /*Safari and Chrome*/
}

.A11 {
    animation: A11move 3s infinite;
    -webkit-animation: A11move 3s infinite; /*Safari and Chrome*/
}

.A12 {
    animation: A12move 3s infinite;
    -webkit-animation: A12move 3s infinite; /*Safari and Chrome*/
}

.A13 {
    animation: A13move 3s infinite;
    -webkit-animation: A13move 3s infinite; /*Safari and Chrome*/
}




.B1 {
    animation: B1move 3s infinite;
    -webkit-animation: B1move 3s infinite; /*Safari and Chrome*/
}

.B2 {
    animation: B2move 3s infinite;
    -webkit-animation: B2move 3s infinite; /*Safari and Chrome*/
}

.B3 {
    animation: B3move 3s infinite;
    -webkit-animation: B3move 3s infinite; /*Safari and Chrome*/
}

.B4 {
    animation: B4move 3s infinite;
    -webkit-animation: B4move 3s infinite; /*Safari and Chrome*/
}

.B5 {
    animation: B5move 3s infinite;
    -webkit-animation: B5move 3s infinite; /*Safari and Chrome*/
}

.B6 {
    animation: B6move 3s infinite;
    -webkit-animation: B6move 3s infinite; /*Safari and Chrome*/
}

.B7 {
    animation: B7move 3s infinite;
    -webkit-animation: B7move 3s infinite; /*Safari and Chrome*/
}

.B8 {
    animation: B8move 3s infinite;
    -webkit-animation: B8move 3s infinite; /*Safari and Chrome*/
}

.B9 {
    animation: B9move 3s infinite;
    -webkit-animation: B9move 3s infinite; /*Safari and Chrome*/
}

.B10 {
    animation: B10move 3s infinite;
    -webkit-animation: B10move 3s infinite; /*Safari and Chrome*/
}

.B11 {
    animation: B11move 3s infinite;
    -webkit-animation: B11move 3s infinite; /*Safari and Chrome*/
}

.B12 {
    animation: B12move 3s infinite;
    -webkit-animation: B12move 3s infinite; /*Safari and Chrome*/
}

.B13 {
    animation: B13move 3s infinite;
    -webkit-animation: B13move 3s infinite; /*Safari and Chrome*/
}

@keyframes A1move {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    7% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A2move {
    0% {
        opacity: 0;
    }

    12% {
        opacity: 0;
    }

    14% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A3move {
    0% {
        opacity: 0;
    }

    19% {
        opacity: 0;
    }

    21% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A4move {
    0% {
        opacity: 0;
    }

    26% {
        opacity: 0;
    }

    28% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A5move {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A6move {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    42% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A7move {
    0% {
        opacity: 0;
    }

    47% {
        opacity: 0;
    }

    49% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A8move {
    0% {
        opacity: 0;
    }

    54% {
        opacity: 0;
    }

    56% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A9move {
    0% {
        opacity: 0;
    }

    61% {
        opacity: 0;
    }

    63% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A10move {
    0% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A11move {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    77% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A12move {
    0% {
        opacity: 0;
    }

    82% {
        opacity: 0;
    }

    84% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes A13move {
    0% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    91% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



@keyframes B1move {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    7% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B2move {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    12% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B3move {
    0% {
        opacity: 0;
    }

    17% {
        opacity: 0;
    }

    19% {
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B4move {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    26% {
        opacity: 1;
    }

    28% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B5move {
    0% {
        opacity: 0;
    }

    31% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B6move {
    0% {
        opacity: 0;
    }

    38% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B7move {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    47% {
        opacity: 1;
    }

    49% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B8move {
    0% {
        opacity: 0;
    }

    52% {
        opacity: 0;
    }

    54% {
        opacity: 1;
    }

    56% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B9move {
    0% {
        opacity: 0;
    }

    59% {
        opacity: 0;
    }

    61% {
        opacity: 1;
    }

    63% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B10move {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B11move {
    0% {
        opacity: 0;
    }

    73% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    77% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B12move {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    82% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes B13move {
    0% {
        opacity: 0;
    }

    87% {
        opacity: 0;
    }

    89% {
        opacity: 1;
    }

    91% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
