<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>游戏信息</title>
	#include_css(["bootstrap","font","jqgrid","jqueryui","layer","main"])
	#include_html5()
</head>
<body>
	<div class="container-fluid pcheck margin10">
    	<div class="row">
    		<div class="col-sm-12">
    			<form id="searchForm">
    				<div class="row">
    					<div class="col-sm-2" style="padding:3px 20px;">
							<input class="form-control formWidth" type="text" name="gamename" id="gamename" maxlength="16" placeholder="游戏名称">
    					</div>
						<div class="col-sm-2" style="padding:3px 20px;">
							<select id="gametype" name="gametype" class="form-control formWidth" style="color: #999; font-size: 13px;border-radius: 3px;">
								<option selected="selected" value="">游戏类型</option>
							</select>
    					</div>
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<button type="button" class="search" id="searchBtn" style="width:100%;height:28px;">查询</button>
    					</div>
    					<div class="col-sm-2" style="padding:3px 20px;">
    						<button type="button" class="search" id="resetBtn" style="width:100%;height:28px;">重置</button>
    					</div>
    				</div>
    			</form>
    		</div>
    	</div>
    </div>
	
	#*
	<div class="pcheck borderBtm margin10 sbox">
		<form id="searchForm" class="form-inline  pd6">
    		<table class="searchTable ">
				<tbody>
					<tr>
    					<td align="right">app版本</td>
    					<td><input class="form-control formWidth" type="text" name="appversion" id="appversion" maxlength="16" style="width: 155px;"></td>
    					<td align="right">app类型</td>
    					<td align="left">
							<select id="apptype" name="apptype" class="form-control formWidth" style="width:155px;"></select>
						</td>
					</tr>
					<tr>
                        <td align="center" colspan="6">
							<button type="button" class="search" id="searchbtn">查询</button>
							<button type="reset" class="search" id="resetbtn">重置</button>	
    					</td>
    				</tr>
				</tbody>
			</table>
        </form>
	</div>
	*#
	
	<div class="table-line">
            <div class="tableTitle">
            	<div class="rgt" style="right:30px;">
            		<button class="liadd" id="addBtn">新增</button>
					<button class="lidel" id="editBtn">编辑</button>
					<button class="liedit" id="delBtn">删除</button>
                </div>
            </div>
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
	</div>
  
#include_js(["jquery","bootstrap","jqgrid","shrink","layer","jqueryui","select_option","dateutil"])
<script src="${rc.contextPath}/js/module/game/gameinfo/gameinfoList.js"></script>
</body>
</html>