<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>游戏信息添加</title>
	#include_css(["bootstrap","font","jqgrid","jqueryui","layer","main","validate","date","fileinput"])
	#include_html5()
	<style >
		.ui-jqgrid .ui-jqgrid-hbox {
			height: auto;
		}
    </style>
</head>

<body>
  <div class="container" style="padding-top:12px;">
	<form id="gameInfoform" name="gameInfoform" class="form-horizontal" >	
		<input type="hidden" id="token" name="token" value="$!{token}"/>
		<input type="hidden" name="gameid" id="gameid" value="$!{gameInfo.gameid}"/>
		<input type="hidden" name="gameimg" id="gameimg" value="$!{gameInfo.gameimg}"/>
		<input type="hidden" name="gamefile" id="gamefile" value="$!{gameInfo.gamefile}"/>
		<table class="zwTable">
			<tr>
				<td align="right"><label for="gamename">游戏名称:&nbsp;<font style="color:red">*</font></label></td>
				<td colspan="3"><input type="text" id="gamename" name="gamename" value="$!{gameInfo.gamename}" class="form-control" maxlength="16"></td>
			</tr>
			<tr>
                <td align="right"><label for="attach">游戏图片:&nbsp;<font style="color:red">*</font></label></td>
				<td colspan="3" id="imgattach">
					<div class="fileafter">
						<div id="myimg" filename="$BaseTool.getFileName($!{gameInfo.gameimg})" fileurl="${rc.contextPath}/game/gameinfo/download/img/$!{gameInfo.gameid}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td align="right"><label for="gametype">游戏类型:&nbsp;<font style="color:red">*</font></label></td>
				<td>
					<select id="gametype" name="gametype"  selectvalue="${gameInfo.gametype}" class="form-control text-center"></select>
				</td>
				<td align="right"><label for="downloadcount">下载次数:&nbsp;</label></td>
				<td><input type="text" id="downloadcount" name="downloadcount" value="$!{gameInfo.downloadcount}" class="form-control" maxlength="16"></td>
			</tr>
			
			<tr>
                <td align="right"><label for="attach">游戏包:&nbsp;<font style="color:red">*</font></label></td>
				<td colspan="3" id="fileattach">
					<div class="fileafter">
						<div id="myfile" filename="$BaseTool.getFileName($!{gameInfo.gamefile})" fileurl="${rc.contextPath}/game/gameinfo/download/file/$!{gameInfo.gameid}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td align="right"><label for="note">游戏介绍:&nbsp;</label></td>
				<td colspan="3">
					<textarea class="form-control" id="note" name="gamedesc" rows="3" maxlength="333">$!{gameInfo.gamedesc}</textarea>
				</td>
            </tr>
		</table>
		<div class="alginCenter" style="margin-bottom:5px;">
		    <button type="submit" class="backBtn">保存</button>
            <button type="button"  class="backBtn" onclick="parent.closeWin()"><span>返回</span></button>
    	</div>
	</form>
</div>

#include_js(["jquery","bootstrap","validate","select_option","datepicker","ajaxfileupload","fileinput"])
<script src="${rc.contextPath}/js/module/game/gameinfo/gameinfoAdd.js"></script>
</body>
</html>