<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fastwork.module.game.dao.GameInfoMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.fastwork.module.game.entity.GameInfo" >
	<result column="appid" property="appid" jdbcType="VARCHAR" />
	<result column="appname" property="appname" jdbcType="VARCHAR" />
	<result column="appversion" property="appversion" jdbcType="VARCHAR" />
	<result column="appurl" property="appurl" jdbcType="VARCHAR" />
	<result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP" />
	<result column="appdesc" property="appdesc" jdbcType="VARCHAR" />
	<result column="isonline" property="isonline" jdbcType="CHAR" />
	<result column="apptype" property="apptype" jdbcType="CHAR" />
	<result column="note" property="note" jdbcType="VARCHAR" />
	<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- sys_app_version table all fields -->
<sql id="Base_Column_List" >
	 appid,appname,appversion,appurl,onlinetime,appdesc,isonline,apptype,note,updatetime
</sql>

 <!-- 分页查询 -->
<select id ="loadPage" resultType="map">
  	select 
	<include refid="Base_Column_List"/>
	from game_info 
</select>
  	
</mapper>   
